<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".SpotifyCloneApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpotifyClone"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".features.player.ui.SongLyricsBottomSheetFragment"
            android:exported="false" />

        <activity
            android:name=".features.authentication.ui.ForgotPasswordActivity"
            android:exported="false" />

        <activity
            android:name=".features.home.ui.HomeActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SpotifyClone">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".features.authentication.ui.LoginActivity" />

        <activity
            android:name=".features.artist.ui.ArtistOverallActivity"
            android:exported="false" />
        <activity
            android:name=".features.artist.ui.ArtistListActivity"
            android:exported="false" />
        <activity
            android:name=".features.artist.ui.ArtistActivity"
            android:exported="false" />
        <activity
            android:name=".features.profile.ui.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".features.profile.ui.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".features.settings.ui.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".features.authentication.ui.SignupActivity"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>